@inherits BlazorBusyComponentBaseModel

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Пользователи</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Права доступа</h6>
        <MudTable Loading="IsBusyProgress" ServerData="@(new Func<TableState, Task<TableData<UserModelDB>>>(ServerReload))" Dense="true" Hover="true"
                  OnCommitEditClick="SaveElement" CanCancelEdit="true" RowEditPreview="BeckupEditItem" RowEditCancel="ResetItemToOriginalValues" @ref="table"
                  RowClass="cursor-pointer" RowClassFunc="@SelectedRowClassFunc" T="UserModelDB">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Telegram users</MudText>
                <MudSpacer />
                @if (IsBusyProgress)
                {
                    <MudProgressCircular Class="me-2" Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
                }
                else
                {
                    <MudTooltip Text="Обновить список пользователей">
                        <MudFab OnClick="Reload" Color="Color.Primary" StartIcon="@(Icons.Material.Filled.Refresh)" Size="Size.Small" />
                    </MudTooltip>
                }
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Пользователь</MudTh>
                <MudTh>Email</MudTh>
                <MudTh></MudTh>
                <MudTh></MudTh>
                <MudTh></MudTh>
                <MudTh></MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@($"{(string.IsNullOrWhiteSpace(context.Name) ? "" : $"@{context.Name} - ")}{context.FirstName} {context.LastName}")</MudTd>
                <MudTd>@context.Email</MudTd>
                <MudTd>
                    @if (context.AllowSystemCommands)
                    {
                        <MudTooltip Text="Разрешён доступ к системному меню">
                            <MudBadge Dot="true" Color="Color.Success" Class="mx-6 my-4">
                                <MudText>Система</MudText>
                            </MudBadge>
                        </MudTooltip>
                    }
                </MudTd>
                <MudTd>
                    @if (context.CommandsAllowed)
                    {
                        <MudTooltip Text="Разрешено управлять устройствами">
                            <MudBadge Dot="true" Color="Color.Success" Class="mx-6 my-4">
                                <MudText>Команды</MudText>
                            </MudBadge>
                        </MudTooltip>
                    }
                </MudTd>
                <MudTd>
                    @if (context.AlarmSubscriber)
                    {
                        <MudTooltip Text="Рассылка уведомлений/оповещений">
                            <MudBadge Dot="true" Color="Color.Success" Class="mx-6 my-4">
                                <MudText>Оповещения</MudText>
                            </MudBadge>
                        </MudTooltip>
                    }
                </MudTd>
                <MudTd>
                    @if (context.AllowChangeMqttConfig)
                    {
                        <MudTooltip Text="Разрешено менять настройки MQTT">
                            <MudBadge Dot="true" Color="Color.Success" Class="mx-6 my-4">
                                <MudText>MQTT</MudText>
                            </MudBadge>
                        </MudTooltip>
                    }
                </MudTd>
                <MudTd>
                    <MudBadge Dot="true" Color="@(context.IsDisabled ? Color.Secondary : Color.Success)" Class="mx-6 my-4">
                        <MudText>
                            @(context.IsDisabled ? "Заблокирован" : "Активен")
                        </MudText>
                    </MudBadge>
                </MudTd>
            </RowTemplate>
            <RowEditingTemplate>
                <MudTd>
                    <span>@($"{(string.IsNullOrWhiteSpace(context.Name) ? "" : $"@{context.Name} - ")}{context.FirstName} {context.LastName}")</span>
                </MudTd>
                <MudTd>
                    <MudTextField InputType="InputType.Email" @bind-Value="@context.Email" />
                </MudTd>
                <MudTd>
                    <MudCheckBox Label="@(context.AllowSystemCommands ? "Системные команды разрешены (запретить?)" : "Системные команды запрещены (разрешить?)")" @bind-Value="@context.AllowSystemCommands" />
                </MudTd>
                <MudTd>
                    <MudCheckBox Label="@(context.CommandsAllowed ? "Управление устройствами разрешены (запретить?)" : "Управление устройствами запрещены (разрешить?)")" @bind-Value="@context.CommandsAllowed" />
                </MudTd>
                <MudTd>
                    <MudCheckBox Label="@(context.AlarmSubscriber ? "Уведомления включены (запретить?)" : "Уведомления отключены (разрешить?)")" @bind-Value="@context.AlarmSubscriber" />
                </MudTd>
                <MudTd>
                    <MudCheckBox Label="@(context.AllowChangeMqttConfig ? "Разрешено настраивать MQTT (запретить?)" : "Без доступа к настркам MQTT (разрешить?)")" @bind-Value="@context.AllowChangeMqttConfig" />
                </MudTd>
                <MudTd>
                    <MudCheckBox Label="@(context.IsDisabled ? "Пользователь заблокирован (разблокировать?)" : "Активный пользователь (заблокировать?)")" @bind-Value="@context.IsDisabled" />
                </MudTd>
            </RowEditingTemplate>
            <NoRecordsContent>
                <MudText>Ни одного пользователя нет</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Загрузка...</MudText>
            </LoadingContent>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </div>
</div>