@using System.Text.RegularExpressions;
@using System.Collections.Specialized;
@using System.Collections.Concurrent;
@using RazorLib
@using RazorLib.Shared.html;
@using System.Web;
@using MudBlazor;
@using SharedLib;

@inherits ReloadPageComponentBaseModel
@implements IDisposable

@inject ClientConfigModel _conf

@if (IsBusyProgress)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else if (IsExpand)
{
    if (string.IsNullOrEmpty(this.HtmlSource))
    {
        <MudAlert Severity="Severity.Error">Данные отсутствуют</MudAlert>
    }
    else
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @if (PortEntry.Id > 0)
            {
                <div class="input-group mb-3">
                    <input @bind-value="PortEntry.Name" @bind-value:event="oninput" type="text" class="form-control" placeholder="Имя порта" aria-label="Имя порта">
                    <button disabled="@(string.IsNullOrWhiteSpace(PortEntry.Name))" @onclick="UpdatePortName" class="btn btn-outline-secondary" type="button" id="button-addon2">Сохранить</button>
                </div>
            }

            <HardwareNavTitleComponent PagePath="@PagePath" TitleText="@Text" />
            <HardwaresNavPillsComponent @ref="refHtmlRoot" HtmlSource="@HtmlSource" ReloadPage="@ReloadPage" />
            @if (!AutoLoadAndExpand)
            {
                <button @onclick="Expand" type="button" class="btn-close" aria-label="Close"></button>
            }
        </div>

    }
}
else
{
    <button title="@PagePath" @onclick="Expand" type="button" class="btn btn-primary">@($"{(string.IsNullOrEmpty(PortEntry?.Name) ? "" : $"[{PortEntry.Name}] ")}{Text}")</button>
}

@code {
    [Parameter, EditorRequired]
    public string Text { get; set; } = default!;

    /// <summary>
    /// Автоматически раскрыть/загрузить данные
    /// </summary>
    [Parameter]
    public bool AutoLoadAndExpand { get; set; } = false;

    bool IsExpand = false;
    CancellationToken cancellationToken = new CancellationToken();
    EntryModel PortEntry = new();

    public async Task Expand()
    {
        IsExpand = !IsExpand;
        if (!IsExpand)
            return;

        await GetData();
    }
    static SemaphoreSlim _syncLock = new SemaphoreSlim(5, 5);

    static Regex port_num = new(@"^\d+$", RegexOptions.Compiled);

    async Task UpdatePortName()
    {
        ResponseBaseModel rest = await _hardwares.SetNamePort(PortEntry);

        Snackbar.ShowMessagesResponse(rest.Messages);
    }

    protected override async Task OnInitializedAsync()
    {
        string ext_path = PagePath[(PagePath.IndexOf("?") + 1)..];
        NameValueCollection path_parameters = HttpUtility.ParseQueryString(ext_path);
        if (path_parameters.Count == 1 && port_num.IsMatch(path_parameters.Get("pt") ?? ""))
        {
            await InvokeAsync(async () =>
            {
                IsBusyProgress = true;
                StateHasChanged();
                await _syncLock.WaitAsync();

                EntriyResponseModel rest = await _hardwares.CheckPortHardware(new PortHardwareCheckRequestModel() { PortNum = uint.Parse(path_parameters.Get("pt")!), HardwareId = Id, CreatePortIfNoptExist = true }, cancellationToken);

                Snackbar.ShowMessagesResponse(rest.Messages);
                if (rest.IsSuccess)
                {
                    PortEntry = rest.Entry ?? new();

                    if (AutoLoadAndExpand)
                        await Expand();
                }

                _syncLock.Release();
                IsBusyProgress = false;
                StateHasChanged();
            });
        }
    }

    public void Dispose()
    {
        cancellationToken.ThrowIfCancellationRequested();
    }
}