@using RazorLib.Shared.navs.pills;
@using RazorLib.Shared.html;
@using SharedLib.IServices;
@using SharedLib;

@inherits ReloadPageComponentBaseModel
@inject ClientConfigModel _conf

@if (IsBusyProgress)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else if (IsExpand)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <HardwareNavTitleComponent PagePath="@PagePath" TitleText="@Text" />
        <HardwaresNavPillsComponent @ref="refHtmlRoot" HtmlSource="@HtmlSource" ReloadPage="@ReloadPage" />
        <button @onclick="Expand" type="button" class="btn-close" aria-label="Close"></button>
    </div>
}
else
{
    <button title="@PagePath" @onclick="Expand" type="button" class="btn btn-primary">@Text</button>
}

<ShowMessagesComponent @ref="showMessages" />

@code {
    [Parameter, EditorRequired]
    public string Text { get; set; } = default!;

    bool IsExpand = false;

    async Task Expand()
    {
        IsExpand = !IsExpand;
        if (!IsExpand)
            return;

        await GetData();
    }
}