@using System.Text.RegularExpressions;
@using RazorLib.Shared.hardwires
@using Newtonsoft.Json;
@using MudBlazor;
@using SharedLib;
@using System.Web;

@inject ISnackbar _snackbar

@switch (NodeData.NodeName)
{
    case "a":
        if (NodeData.Text?.Equals("Back", StringComparison.OrdinalIgnoreCase) == true)
            break;

        string? href = NodeData.Attributes?.FirstOrDefault(x => x.Key.Equals("href", StringComparison.OrdinalIgnoreCase)).Value;
        if (Uri.TryCreate(href, UriKind.Relative, out Uri? _uri))
        {
            string ext_href = href.Contains("?")
                ? href[(href.IndexOf("?") + 1)..].ToLower()
                : href.ToLower();
            System.Collections.Specialized.NameValueCollection parsed_url = HttpUtility.ParseQueryString(ext_href);
            string? cmd = parsed_url.Get("cmd");
            <CascadingValue Value="@(_uri.OriginalString)" Name="PagePath">
                @if (!string.IsNullOrEmpty(cmd))
                {
                    Match match_cmd = cmd_on_off.Match(cmd);
                    if (match_cmd.Success)
                    {
                        <HardwarePortToggleComponent BtnText="@NodeData.Text" PortNum="@(byte.Parse(match_cmd.Groups["port_num"].Value))" PortState="@(byte.Parse(match_cmd.Groups["port_state"].Value))" />
                    }
                    else
                    {
                        <HardwareNavButtonComponent Text="@NodeData.Text" />
                    }
                }
                else
                {
                    <HardwareNavButtonComponent Text="@NodeData.Text" />
                }
            </CascadingValue>
        }
        else if (Uri.TryCreate(href, UriKind.Absolute, out _uri))
        {
            System.Collections.Specialized.NameValueCollection parsed_url = HttpUtility.ParseQueryString(href);
            <a target="_blank" class="link-body-emphasis text-center" href="@href">@NodeData.Text</a>
        }
        break;
    case "br":
        <br />
        break;
    case "form":
        <HtmlFormTranslatorComponent NodeData="NodeData" />
        break;
    case "#text":
        <span class="text-center">@(NodeData.Text)</span>
        break;
    default:
        if (input_tags.Contains(NodeData.NodeName))
        {
            <HtmlInputTranslatorComponent NodeData="NodeData" />
        }
        else
        {
            <div title="Не опознанный тип узла DOM @(NodeData.NodeName) (код ошибки: {6055A7E3-A10D-4CAF-84DF-AD944B7CD98D})" class="badge text-bg-warning">
                @NodeData.Title
                @if (NodeData.TreeItems?.Any() == true)
                {
                    foreach (HtmlDomTreeItemDataModel node in NodeData.TreeItems)
                    {
                        <HtmlNodeTranslatorComponent NodeData="node" />
                    }
                }
            </div>
        }
        break;
}

@code {
    [Parameter, EditorRequired]
    public required HtmlDomTreeItemDataModel NodeData { get; set; }

    static string[] input_tags = new string[] { "input", "select" };

    static Regex cmd_on_off = new Regex(@"(?<port_num>\d+):(?<port_state>\d+)", RegexOptions.Compiled);
}