@using System.Text.RegularExpressions;
@using AngleSharp.Html.Parser;
@using AngleSharp.Html.Dom;
@using Microsoft.JSInterop;
@using AngleSharp.Dom;
@using MudBlazor

@inherits BlazorAngleTreeComponentBaseModel

@if (IsBusyProgress)
{
    <span>Парсинг ...</span>
}
else
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <MudTreeView Items="TreeItems">
            <ItemTemplate>
                <MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.TreeItems" Value="@context"
                                 Text="@context.Title" EndText="@context.Number.ToString()" EndTextTypo="@Typo.caption" />
            </ItemTemplate>
        </MudTreeView>
    </div>
}